cairocffi==1.2.0
CairoSVG==2.5.1
cffi==1.14.4
cssselect2==0.4.1
defusedxml==0.6.0
dominate==2.6.0
html5lib==1.1
Pillow==8.1.0
pycparser==2.20
Pyphen==0.10.0
six==1.15.0
tinycss2==1.1.0
WeasyPrint==52.2
webencodings==0.5.1
